.Cards_container{
    grid-template-columns: repeat(autofit, 1fr);
    height: 20rem;
    width: 20rem;

}

.Cards_img{
    height: 20rem;
    width: 20rem;
    border-radius: 10%;
}

.Cards_title{
    color: white;
    justify-content: center;
    margin-right: 20px;
}

